{% load static %}  <!-- Добавьте эту строку в начало шаблона -->
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма с медиа контентом</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>

    <!-- Подключение CKEditor -->
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        // Инициализация CKEditor
        CKEDITOR.replace('id_text');
    </script>
</body>
</html>
