<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
<!-- Название у нас будет Product -->
{% block title %}
Product
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}

<h1>{{ ads.title }}</h1>
<!-- Применяем кастомный фильтр для youtube_embed -->
<div style="display: grid; place-items: center; height: 100vh;">
    <!-- Применяем фильтр youtube_embed для правильного вставления iframe -->
    {{ ads.text|media_embed|safe }}
</div>

<a href="{% url 'response_create' pk=ads.pk %}" class="btn btn-primary">Добавить отклик</a>


{% endblock content %}